body.tilt-login {
	font-size: 14px;
}

.tilt-login .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.tilt-login .brand img {
	width: 100%;
}

.tilt-login .card {
	border-color: transparent;
}

.tilt-login .card.fat {
	padding: 10px;
}

.tilt-login .card .card-title {
	margin-bottom: 30px;
}

.tilt-login .form-control {
	border-width: 2.3px;
}

.tilt-login .form-group label {
	width: 100%;
}

.tilt-login .btn.btn-block {
	padding: 12px 10px;
}

.tilt-login .margin-top20 {
	margin-top: 20px;
}

.tilt-login .no-margin {
	margin: 0;
}

.tilt-login .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.tilt-login .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.tilt-login .card.fat {
		padding: 0;
	}

	.tilt-login .card.fat .card-body {
		padding: 15px;
	}
}