.menuBar a{
    border: 1px solid white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: -5px;
    padding-bottom: 20px;
    font-family: "Carbon";
}

.menuBar a:hover{
    background-color: rgba(153,153,200,1);
}

.menuBar{
    text-align: center;
    width: 110%;
    margin-left: -5%;
    margin-top: -10px;
    background-color: rgb(153,153,153);
}

body{
    background: url(../pictures/tempbackground.jpg)
}


@font-face{
    font-family: "Carbon";
    src: url(fonts/carbon%20bl.ttf);
}