@font-face{
    font-family: "acid";
    src: url("fonts/acid.otf");
}

@font-face{
    font-family: "bebas";
    src: url("fonts/BebasNeue.otf");
}

body{
    background-color: rgb(80,80,80);
}

.SelfNavbar{
    background-color: rgb(153,153,153);
    font-family: "bebas";
}

.SelfBrand{
    margin-left: 10px;
}

.SelfLinks{
    font-family: "bebas";
}

.SelfContent{
    background-color: rgb(153,153,153);
    min-height: 800px;
}

.SelfTopBuffer{
    margin-top: 50px;
}

.tlt_articleTitle{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 130%;
    vertical-align: middle;
}


