.content {
    width: 100%;
    overflow: hidden;
}

#left, #middle, #right{
    float: left;
    height: 1000px;
    width: 19%;
    margin: 3%;
    background-color: rgb(153,153,153);
}

#left{
    margin-left: 5%;
    margin-right: 1%;
}

#right{
    margin-right: 5%;
    margin-left: 1%;
}


#middle{
    width: 44%;
    margin: 3%;
}